@using System.Web.Optimization
@using bAbA
@using BabajobUtilities.Resources
@using BabajobUtilities

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Babajob.com">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="@ViewBag.MetaDescriptionContent"/>     
        <meta name="keywords"  content="@ViewBag.MetaKeywordsContent"/>
        <link rel="SHORTCUT ICON" href="/pix/Blogo.gif"/>
        <title>@ViewBag.Title - Babajob</title>
      
        @Styles.Render("~/bundles/bootstrapstyle")
        @Styles.Render("~/bundles/mobilestyle")

    </head>
    <body>
        @if (ViewBag.IsUserAgentAndroid && ViewBag.AndroidAppBannerExperiment && (Request.RawUrl.ToLower().StartsWith("/jobs-") || Request.RawUrl.ToLower().EndsWith("/")))
        {
           <!-- modal content -->
            <div id="basic-modal-content">
                <a href="https://play.google.com/store/apps/details?id=com.babajob.app&hl=en">
                    <img class="app-banner" src="/pix/redesign/Mobile_App_Promo.jpg" />
                </a>
            </div>

		    <!-- preload the images -->
                <div style='display:none'>
                    <img src='/pix/redesign/x.png' alt='' />
                </div>

        }
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PNZ7RW" height="0" width="0" style="display:none;visibility:hidden">     
            </iframe>
        </noscript>
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PNZ7RW');
        </script>
        <!-- End Google Tag Manager -->
       
        <div id="header">
            <ul class="list-language">
                <li><a id="hindiClick" href="@ViewBag.HindiUri"><img src="@UrlUtilities.FingerprintUrl("/mo/hindi.png")" alt="Hindi"></a></li>
                <li><a id="hindiClick" style="position: relative; top: 6px;" href="@ViewBag.EnglishUri">English</a></li>
                <li><a id="kannadaClick" href="@ViewBag.KannadaUri"><img src="@UrlUtilities.FingerprintUrl("/mo/kannada.png")" alt="Kannada"></a></li>
                <li><a id="tamilClick" style="font-size: 9pt" href="@ViewBag.TamilUri"><img src="@UrlUtilities.FingerprintUrl("/mo/tamil.png")" alt="Tamil"></a></li>
                <li><a id="teluguClick" href="@ViewBag.TeluguUri"><img src="@UrlUtilities.FingerprintUrl("/mo/telugu.png")" alt="Telugu"></a></li>
                <li><a id="marathiClick" href="@ViewBag.MarathiUri"><img src="@UrlUtilities.FingerprintUrl("/mo/marathi.png")" alt="Marathi"></a></li>
            </ul>
            <div class="header header-main">
                <a href="/mo/home.aspx" class="header-logo">
                    <img src="@UrlUtilities.FingerprintUrl("/pix/bj-logo.png")" alt="Babajob: Better Jobs for Everyone">
                </a>
                <a id="menu-icon" onclick="menuToggle()" class="iconic iconic-md header-menu-icon" title="menu" aria-hidden="true"><img src="@UrlUtilities.FingerprintUrl("/pix/redesign/menubar.PNG")" /></a>
            </div>
        </div>
        @if (ViewBag.Viewer == null)
        {
            <div id="editYourProfileWarning" class="warning">
                <div class="warning row m-alert-container m-c-alert-warning">
                    <div class="col-xs-12">
                        <p class="m-alert-message m-t-alert-warning alert-message">
                            <a href="/seeker/register">@Html.Raw(WebHelperClass.RenderWarningLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strRegisterYourProfile))</a> @Html.Raw(WebHelperClass.RenderWarningText(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strToTellEmployersMoreAboutYou))
                        </p>
                    </div>
                </div>
            </div>
        }

        @Html.Partial("_ErrorMessage")
        @if (ViewBag.Viewer != null && !string.IsNullOrEmpty(ViewBag.Viewer.Mobile_) && !ViewBag.Viewer.IsMobileVerified)
        {
       
            Html.RenderAction("MobileVerification", "VerificationPage");
        
        }
        @if (ViewBag.Viewer != null && !string.IsNullOrEmpty(ViewBag.Viewer.EmailID) && !ViewBag.Viewer.IsEmailVerified)
        {
        
            Html.RenderAction("EmailVerification", "VerificationPage");
        
        }
        @RenderBody()



        <ul id="main-menu" class="main-menu">
            @if (ViewBag.Viewer != null)
            {
                if (ViewBag.Viewer.IsAnEmployer())
                {
                    <li>
                        <a href="/newjobs">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strPostAJob))
                        </a>
                    </li>
                    <li>
                        <a href="/Hire-for-@ViewBag.Viewer.UserID">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSearchCandidates))
                        </a>
                    </li>
                    <li>
                        <a href="/home">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strMyJobs))
                        </a>
                    </li>
                    <li>
                        <a href="/plans">
                            Plans
                        </a>
                    </li>
                    <li>
                        <a href="http://support.babajob.com/support/home">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSupport))
                        </a>
                    </li>
            
                }
                else
                {
                    <li>
                        <a href="/home">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strHome))
                        </a>
                    </li>
                    <li>
                        <a href="/update">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strMyProfile))
                        </a>
                    </li>
                    <li>
                        <a href="/Jobs-for-@ViewBag.Viewer.UserID">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSearchJobs))
                        </a>
                    </li>

                }
                <li>
                    <a href="/mo/redir.aspx?signout=1&url=/mo/home.aspx">
                        @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSignOut))

                    </a>
                </li>

            }
            else
            {
                <li>
                    <a href="/login">
                        @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSignIn))

                    </a>
                </li>
                <li>
                    <a href="/seeker/register">
                        @Html.Raw(WebHelperClass.RenderText(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strRegisterNow))

                    </a>
                </li>
                <li>
                    <a href="/Jobs-all-in-India">
                        @Html.Raw(WebHelperClass.RenderText(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSearchJobs))

                    </a>
                </li>
                <li>
                    <a href="/Hire-all-in-India">
                        @Html.Raw(WebHelperClass.RenderText(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSearchCandidates))

                    </a>
                </li>
            }
        </ul>
    @{
        <script type="text/javascript">
            var isAndroidStickyBannerExperiment = false;
        </script>

        if (Ab.IncreaseDenominatorForAnonymousUser(ExperimentNames.AndroidStickyBannerExperiment) == ExperimentVersion.Test)
        {
            <script type="text/javascript">
                 isAndroidStickyBannerExperiment = true;
            </script>
            <div class="footer container-fluid" id="banner" style="padding-top: 5px; height: 90px; background-color: #e27a3f;
                                                                                                                                                                                                                                                                                                                        display: none;">
                <div class="row">
                    <div class="col-xs-9" style="color: white; font-style: oblique">
                        <div style="font-size: 14px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                   margin-top: 0px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                   margin: 0;">
                            Download app for better and smoother experience.
                        </div>
                        <div style="margin-top: 0px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      font-size: 14px; color: #fff;">
                            Get access to India's top employers.
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div style="float: right; margin-right: -5px; margin-top: -15px; border: none;">
                            <button style="border: none; background-color: #e27a3f; border-top-width: 2px; border-top-style: solid; margin-right: -11px; margin-top: 3px;" id="hide">&times;</button>
                        </div>
                        <a href="https://play.google.com/store/apps/details?id=com.babajob.app">
                            <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           height: 32px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           width: 93px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           margin-left: -30px;">
                        </a>
                    </div>
                </div>

            </div>
        }
    }
            <div class="footer footer-mobile">
                <noscript>
                    <style>
                        .iconic.iconic-md.header-menu-icon {
                            display: none;
                        }
                    </style>
                    @if (ViewBag.Viewer != null)
                    {
                        <p>
                            <a href="/update">
                                @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strMyProfile))

                            </a>
                        </p>
                    }
                    else
                    {
                        <p>
                            <a href="/login">
                                @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSignIn))

                            </a>
                        </p>
                    }
                    <p>
                        <a href="/mo/Home.aspx?">
                            @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSearch))

                        </a>
                    </p>
                    @if (ViewBag.Viewer == null)
                    {
                        <p>
                            <a href="/seeker/register">
                                @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strRegisterNow))

                            </a>
                        </p>
                    }
                    else
                    {
                        <p>
                            <a href="/mo/Mentees.aspx?">
                                @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strRegisterAFriend))
                            </a>
                        </p>
                    }
                    @if (ViewBag.Viewer != null)
                    {
                        <p>
                            <a href="/mo/redir.aspx?signout=1&url=/mo/home.aspx">
                                @Html.Raw(WebHelperClass.RenderLink(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strSignOut))

                            </a>
                        </p>
                    }

                    <p>
                        <small>
                            &copy;
                            @Html.Raw(WebHelperClass.RenderText(ViewBag.ShowTextAsImage, BabajobUtilities.Resources.Resource.strBabajobServicesPvtLtdAllRightsReservedPatentPending))

                        </small>
                    </p>




                </noscript>
            </div>

            @CdnUtilities.RenderScripts("~/bundles/analytics")
            @if (ViewBag.IsUserAgentAndroid && ViewBag.AndroidAppBannerExperiment)
            {
                <script type="text/javascript" src="/scripts/jquery.modal.js"></script>
                <script type="text/javascript" src="/scripts/jquery.cookie.js"></script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        if (!$.cookie("modal-closed")) {
                            $('#basic-modal-content').modal();
                            $('#simplemodal-container').css('top', '87px');
                            window.history.pushState('obj', 'Babajob android app', '/babajobapp');
                        }
                        $(".modalCloseImg.simplemodal-close").click(function () {
                            $.cookie("modal-closed", "true", { expires: 7 });
                            var length = history.length;
                            history.go(-length);
                            window.location.replace("/");
                        });
                        if (isAndroidStickyBannerExperiment){
                            if (!$.cookie("footer-closed")) {
                                $("#banner").show();
                            }
                            else {
                                $("#banner").hide();
                            }
                            $("#hide").click(function () {
                                $.cookie("footer-closed", "true", { expires: 27 });
                                $("#banner").hide();
                            });
                        }
                    });
                </script>
            }

            <script>
                function menuToggle() {
                    var div = document.getElementById('main-menu');
                    if (div.style.display == 'none') {
                        div.style.display = 'block';
                    }
                    else if (div.style.display == 'block') {
                        div.style.display = 'none';
                    } else {
                        div.style.display = 'block';
                    }
                }

            </script>



            <script type="text/javascript">
                window.heap = window.heap || [];
                heap.load = function (a) {
                    window._heapid = a;
                    var b = document.createElement("script");
                    b.type = "text/javascript", b.async = !0, b.src = ("https:" === document.location.protocol ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap.js";
                    var c = document.getElementsByTagName("script")[0];
                    c.parentNode.insertBefore(b, c);
                    var d = function (a) { return function () { heap.push([a].concat(Array.prototype.slice.call(arguments, 0))); }; }, e = ["identify", "track"];
                    for (var f = 0; f < e.length; f++) heap[e[f]] = d(e[f]);
                };
                @if (ConfigValues.EnviornmentName.Equals("Prod"))
        {
            @:heap.load("1187575458");
                            }
        else
        {
            @:heap.load("92402652");
                            }

                @if (ViewBag.Viewer != null)
        {
            <text>
                heap.identify({
                    handle: '@ViewBag.VisitorId',
                    visitorid: '@ViewBag.VisitorId',
                    name: '@ViewBag.Viewer.Name',
                    email: '@ViewBag.Viewer.EmailID',
                    mobile: '@ViewBag.Viewer.Mobile_',
                    userid: '@ViewBag.Viewer.UserID'
                });
                </text>
        }
        else
        {
            <text>
                heap.identify({
                    handle: '@ViewBag.VisitorId',
                    visitorid: '@ViewBag.VisitorId'
                });
                </text>
        }
            </script>



</body>



</html>